{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block body %}
    <div class="features">
        <h1>Про нас</h1>
        <p style="max-width: 600px">«KRONOS» — это про интересный спорт как для любителей, так и для профессионалов. <br>
Наш ССК начал свою работу 23 ноября 2017 года и с этого дня мы активно пишем свою историю студенческого спорта. <br>
Наша цель — сделать спорт как можно более увлекательным и востребованным не только в нашем вузе, но и за его пределами</p>
        <h2>Контакты</h2>
        <div class="feat2">
            <h5>Председатель ССК «KRONOS»: <a href="https://vk.com/rais_kronos">Марат Магсумов</a></h5>
            <h5>Первый заместитель председателя ССК «KRONOS»:
                <a href="https://vk.com/sabininaolena">Сабина Оленина</a></h5>
            <h5>Заместитель председателя по организации мероприятий ССК «KRONOS»:
                <a href="https://vk.com/roma_sher">Роман Филатов</a></h5>
            <h5>Руководитель медиа-центра ССК «KRONOS»: <a href="https://vk.com/raineehonda">Арина Ахметьянова</a></h5>
        </div>

        <h2 style="margin-bottom: -2vh">Полезные ссылки:</h2> <br>
        <div class="feat2">

        </div>
        <a href="https://vk.com/cok_knrtu">Спортивно-оздоровительный клуб КНИТУ</a> <br>
        <a href="https://instagram.com/ssk_knrtu?r=nametag"> Наш инстаграм</a> <br>
        <a href="https://vk.com/profcomknrtu">ПРОФКОМ КНИТУ</a> <br>
        <a href="https://vk.com/ssaknitu">ССА КНИТУ</a> <br>
        <a href="https://vk.com/knrtu_volleyball">Волейбольный клуб "КНИТУ-КХТИ" Казань</a> <br>
        <a href="https://vk.com/knitubasketball">Баскетбольный клуб "КНИТУ-КХТИ" Казань</a> <br>
        <a href="https://vk.com/knrtu_hockey">Студенческий хоккейный клуб КНИТУ</a> <br>
        <a href="https://vk.com/knrtu_fans">CrashCraft | фан-клуб КНИТУ</a> <br>
        <a href="https://vk.com/nct_kzn">Сборная КНИТУ(КХТИ) по чирлидингу NCT</a> <br>
    </div>
{% endblock %}

