{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Index{% endblock %}
{% block body %}
    <div class="features">
        <script src="{% static '/main/js/jsapp_main.js' %}"></script>
{#    <button name="mainButton" ONCLICK="onClickButton(this)" class="btn btn-danger btn11">Нажми на меня</button>#}
{#        <label>#}
{#            <input oninput="onInput(this)" >#}
{#        </label>#}
    <p id="text">Text</p>
    </div>
{% endblock %}

{% block script %}
{% endblock %}

{% block noscript %}Включите JavaScript!!{% endblock %}