{% extends 'main/layout.html' %}

{% block title %}Форма для редактирования товара{% endblock %}

{% block body %}
    <div class="features">
        <h1>Редактирование товара</h1>
        <form method="post">
            {{ form.name }}<br>
            {{ form.image }}<br>
            {{ form.category }}<br>
            {{ form.description }}<br>
            {{ form.price }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Редактирвоать товар</button>
        </form>
    </div>
{% endblock %}