{% extends 'main/layout.html' %}

{% block title %}Форма для редактирования игрока{% endblock %}

{% block body %}
    <div class="features">
        <h1>Редактирование игрока</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.surname }}<br>
            {{ form.gaming_number }}<br>
            {{ form.amplua }}<br>
            {{ form.description }}<br>
            {{ form.image }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Редактировать игрока</button>
        </form>
    </div>
{% endblock %}