{% extends 'main/layout.html' %}

{% block title %}Игроки{% endblock %}

{% block body %}
{#    <div class="features">#}
{#        <h1>Игроки</h1>#}
{#        {% if players  %}#}
{##}
{#            {% for el in players %}#}
{#                <div class="alert alert-warning">#}
{#                    <p class="p-players">Имя: {{ el.name }}</p>#}
{#                    <p class="p-players">Фамилия: {{ el.surname }}</p>#}
{#                    <p class="p-players">Игровой номер: {{ el.gaming_number }}</p>#}
{#                    <p class="p-players">Амплуа: {{ el.amplua }}</p>#}
{#                    <a href="{% url 'players-detail' el.id %}" class="btn btn-warning">Подробнее</a>#}
{#                </div>#}
{#            {% endfor %}#}
{#        {% else %}#}
{#            <p>У вас нет записей.</p>#}
{#        {% endif %}#}
{#    </div>#}

    <div class="features">
        <h1>Игроки</h1>
            <form action="{% url 'search_players' %}" method="get">
                <div class="d-flex align-items-center">
                    <input type="search" class="search-shop form-control form-control-lg" name="q" placeholder="Поиск">
                    <button type="submit" class="btn-shop btn btn-primary"></button>
                </div>
            </form>
        {% if page_obj %}
            {% for item in page_obj.object_list %}
                <div class="alert alert-warning" style="margin-left: 36%">
                    <p class="p-players">Имя: {{ item.name }}</p>
                    <p class="p-players">Фамилия: {{ item.surname }}</p>
                    <p class="p-players">Игровой номер: {{ item.gaming_number }}</p>
                    <p class="p-players">Амплуа: {{ item.amplua }}</p>
                    <a href="{% url 'players-detail' item.id %}" class="btn btn-warning">Подробнее</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% if page_obj.has_other_pages %}
        <div class="pag features" style="margin-top: -1vh">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_obj.number == page_number %}
                    <button class="btn btn-outline-primary active">
                        <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                    </button>
                {% else %}
                    <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                        {{ page_number }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
